﻿@model Accounting.Models.User

@{
    ViewBag.Title = "Видалити";
}

<h2>Видалити</h2>

<h3>Ви впевнені, що хочете видалити даного користувача?</h3>
<div>
    <h4>Користувачі</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            ******
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessCalc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessCalc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessCurrencies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessCurrencies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessEmployees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessEmployees)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.AccessPayouts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessPayouts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessPositions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessPositions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessRates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessRates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessUsers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessUsers)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Повернутися до спику", "Index")
        </div>
    }
</div>
