﻿@model IEnumerable<Accounting.Models.User>

@{
    ViewBag.Title = "Користувачі";
}

<h2>Користувачі</h2>

<p>
    @Html.ActionLink("Додати нового", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessCalc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessCurrencies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessEmployees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessPayouts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessPositions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessRates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessUsers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            ******
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessCalc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessCurrencies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessEmployees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessPayouts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessPositions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessRates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessUsers)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
