﻿@model IEnumerable<Accounting.Models.ExchangeRate>

@{
    ViewBag.Title = "Курси валют";
}

<h2>Курси валют</h2>
@using (Html.BeginForm("Index", "ExchangeRates", FormMethod.Post))
{



    <div class="form-group">

        <label class="control-label col-md-2">Виберіть валюту:</label>
        @Html.DropDownList("currencyId", new SelectList(ViewBag.Currencies, "Id", "Name"), new { @class = "form-control " })
        <input type="submit" value="Вибрати" class="btn btn-default" />
    </div>


}
<p>
    @Html.ActionLink("Додати новий", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Валюта
        </th>
        <th>
            Курс
        </th>
        <th>
            Дата
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@using (Html.BeginForm("Index", "NBUImport", FormMethod.Get))
{
    <div class="form-group">
   
            <input type="submit" value="Імпорт курсів з НБУ" class="btn btn-default" />
       
    </div>
}