﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ІС Розрахунок добових</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Розрахунок добових", "", "", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                @if (MvcApplication.IsAuthorized())
                {
                <ul class="nav navbar-nav">
                    @if (MvcApplication.GetUser().AccessEmployees == true)
                    {
                        <li>@Html.ActionLink("Кадри", "Index", "Employees")</li> 
                    }
                    @if (MvcApplication.GetUser().AccessCalc == true)
                    {
                        <li>@Html.ActionLink("Розрахунок добових", "Index", "Calc")</li>
                    }
                    @if (MvcApplication.GetUser().AccessPayouts == true)
                    {
                        <li>@Html.ActionLink("Історія нарахувань", "Data", "Daily")</li>
                    }
                    @if (MvcApplication.GetUser().AccessRates == true)
                    {
                        <li>@Html.ActionLink("Курси валют", "Index", "ExchangeRates")</li>
                    }
                    @if (MvcApplication.GetUser().AccessPositions == true)
                    {
                        <li>@Html.ActionLink("Посади", "Index", "Positions")</li>
                    }
                    @if (MvcApplication.GetUser().AccessCurrencies == true)
                    {
                        <li>@Html.ActionLink("Валюти", "Index", "Currencies")</li>
                    }
                    @if (MvcApplication.GetUser().AccessUsers == true)
                    {
                        <li>@Html.ActionLink("Користувачі", "Index", "Users")</li>
                    }
                </ul>
                }
                @{Html.RenderPartial("_LoginPartial");}
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
  
    @RenderSection("scripts", required: false)
</body>
</html>
