﻿<ul class="nav navbar-nav navbar-right">
    @if (MvcApplication.IsAuthorized() == true)
    {
        <li>@Html.ActionLink("Вітаємо, " + HttpContext.Current.Request.Cookies["user-login"]?.Value, "")</li>
        <li>@Html.ActionLink("Вихід", "Logout", "Auth")</li>
    }
    else
    {
        <li>@Html.ActionLink("Вхід", "Index", "Auth")</li>
    }
</ul>