﻿@{
    ViewBag.Title = "Авторизація";
}

<form method="post" action="/Auth/Login">
    <div class="form-horizontal">
        <h2>Авторизація</h2>

        <table>
            <tr>
                <td><p>Логін: </p></td>
                <td><input class="form-control" type="text" name="Login" /> </td>
            </tr>
            <tr>
                <td><p>Пароль:</p></td>
                <td><input class="form-control" type="password" name="Password" /> </td>
            </tr>
           
            <tr>
                <td><input  class="btn btn-default" type="submit" value="Вхід" /> </td>
                <td></td>
            </tr>

        </table>
    </div>
</form>

@if (ViewBag.ShowError == true)
{
    <tr>
        <td><p style="color:red">Невірний пароль або користувач не існує!</p></td>
    </tr>
}