﻿@model IEnumerable<Accounting.Models.Employee>

@{
    ViewBag.Title = "Кадри";
}

<h2>Кадри</h2>

<p>
    @Html.ActionLink("Додати співробітника", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ім'я
        </th>
        <th>
            По-батькові
        </th>
        <th>
            Прізвище
        </th>
        <th>
            Стать
        </th>
        <th>
            Документ
        </th>
        <th>
            Серія
        </th>
        <th>
            Номер
        </th>
        <th>
            ІПН
        </th>
        <th>
            Посада
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentSeries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumnentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
