﻿@model IEnumerable<Accounting.Models.Daily>

@{
    ViewBag.Title = "Історія нарахувань";
}

<h2>Історія нарахувань</h2>
<form method="post" action="Data">


        <div class="form-group">

            <label class="control-label col-md-2">Виберіть співробітника:</label>
            @Html.DropDownList("employeeId", new SelectList(ViewBag.Employees, "Id", "FullName"), new { @class = "form-control " })
            <input type="submit" value="Вибрати" class="btn btn-default" />
        </div>


</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalBenefits)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalBenefits)
            </td>

        </tr>
    }

</table>
