﻿@model Accounting.Models.Daily

@{
    ViewBag.Title = "Дані збережені!";
}

<h2>Дані збережені!</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalBenefits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalBenefits)
        </dd>

    </dl>
</div>
