﻿
@{
    ViewBag.Title = "Імпорт курсу валют з НБУ";
}

<h2>Імпорт курсу валют з НБУ</h2>

@using (Html.BeginForm("Import", "NBUImport"))
{
    <div class="form-horizontal">
        <h4>Виберіть період:</h4>
        <hr />
     
        <div class="form-group">
            <label class="control-label col-md-2">Дата з:</label>
            <div class="col-md-10">
                <input type="date" name="firstDate" class="form-control" />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">По:</label>
            <div class="col-md-10">
                <input type="date" name="secondDate" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Вибрати" class="btn btn-default" />
            </div>
        </div>
    </div>

}