﻿
@{
    ViewBag.Title = "Розрахунок добових";
}

<h2>Розрахунок добових</h2>
<h4 align="center">@ViewBag.EmpName</h4>
<p>
    <label style="float:left">
        Номер документа: @ViewBag.DocumentNumber
    </label>
    <label style="float:right">
        Дата: @DateTime.Now.ToShortDateString()
    </label>
</p>
<table class="table">
    <tr>
        <th>Дата</th>
        <th>Курс ЄВРО</th>
        <th>Ставка ЄВРО (константа)</th>
        <th>Всього нараховано, грн</th>
        <th>Курс @ViewBag.CurrencyName</th>
        <th>Ставка у @ViewBag.CurrencyName</th>
        <th>Всього нараховано, грн</th>
        <th>Додаткове благо</th>
    </tr>
    @foreach (var item in ViewBag.DataList)
    {
        <tr>
            <td>@item.Date</td>
            <td>@item.EuroRate</td>
            <td>@item.EuroSalary</td>
            <td>@item.EuroSum</td>
            <td>@item.Rate</td>
            <td>@item.Salary</td>
            <td style="text-align:center" >@item.Sum</td>
            <td style="text-align:center" >@item.AdditionalBenefits</td>
        </tr>
    }
    <tr>
        <td><strong>Всього</strong></td>
        <td />
        <td />
        <td><strong>@ViewBag.FirstSum</strong></td>
        <td />
        <td />
        <td style="text-align:center" ><strong>@ViewBag.TotalSum</strong></td>
        <td style="text-align:center" ><strong>@ViewBag.TotalBenefit</strong></td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="6"><strong>Всього до виплати</strong></td>
        <td style="text-align:center" ><strong>@ViewBag.TotalSum</strong></td>
        <td />
    </tr>
    <tr>
        <td style="text-align:center" colspan="7"><strong>Додаткове благо</strong></td>
        <td style="text-align:center" ><strong>@ViewBag.TotalBenefit</strong></td>
    </tr>
</table>
<div>
    <form style="float:left" method="post" action="SaveToExcel">
        <input type="hidden" name="Id" value="@ViewBag.Id" />
        <input type="hidden" name="firstDate" value="@ViewBag.firstDate" />
        <input type="hidden" name="secondDate" value="@ViewBag.secondDate" />

        <input type="submit" value="Експорт у Excel" class="btn btn-default" />
    </form>
    <form style="float:right" method="post" action="Save">
        <input type="hidden" name="Id" value="@ViewBag.Id" />
        <input type="hidden" name="firstDate" value="@ViewBag.firstDate" />
        <input type="hidden" name="secondDate" value="@ViewBag.secondDate" />
        <input type="hidden" name="totalSum" value="@ViewBag.TotalSum" />
        <input type="hidden" name="totalBenefit" value="@ViewBag.TotalBenefit" />
        <input type="submit" value="Зберегти" class="btn btn-default" />
    </form>
</div>
<br/>