﻿@{
    ViewBag.Title = "Розрахунок добових";
}

<h2>Розрахунок добових</h2>
<form method="post" action="/Calc/GetTable">
    <div class="form-horizontal">
        <h4>Виберіть співробітника та період</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">ПІБ співробітника</label>
            <div class="col-md-10">
                @Html.DropDownList("Id", ViewBag.Employees as SelectList, new {  @class = "form-control" } )
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Дата з:</label>
            <div class="col-md-10">
                <input type="date" name="firstDate" class="form-control" />

            </div>
         </div>
            <div class="form-group">
                <label class="control-label col-md-2">По:</label>
                <div class="col-md-10">
                    <input type="date" name="secondDate" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Вибрати" class="btn btn-default" />
                </div>
            </div>
        </div>

</form>
